{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

    <h1>What We Do</h1>

    <p>Here at Atomic Hawks, our small but talented team have crafted an efficient and user friendly music database portal.  </p>

    <h2>Meet some of our team members</h2>

    <h4>Nathan Martina</h4>

    <img src="{$ static images/Nathan.png%}" alt="">

    <p>Nathan Martina is our backend developer, he has extensive knowledge with python, SQL, server administration, Windows and Linux servers, AD, DNS and IIS. </p>

    <h4>Aidyn Lay</h4>

    <img src="{$ static images/Aidyn.png%" alt="">

    <p>Aidyn Lay is our Front End Programmer with extensive experience in SQL databases, HTML and CSS. </p>

    <h4>Zach Ferdinandis</h4>

    <img src="{$ static images/Zach.png%" alt="">
    

    <p>Zach Ferdinandis is the CEO and team leader here at Atomic Hawks. He uses his naturally gifted leadership and people skills to guide our company efficiently and effectively.</p>

    <h4>Liam Higginson</h4>

    <img src="{$ static images/Liam.png%" alt="">

    <p>Liam Higginson is the team’s documentation leader, it is his job to make sure the website content satisfies requirements and is implemented into the live website. </p>

    <h4>Tino Bhebe</h4>

    <img src="{$ static images/Tino.png%" alt="">

    <p>Tino Bhebe is our general programmer, he is our main archive on knowledge regarding coding languages such as python and SQL. </p>

{% endblock %}