{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
    <h1>{{Artist.title}}</h1>

    <img src="{{Artist.image.url}}" height="200px"  alt="{{Artist.title}}"><br>

    <h3>Description:</h3>
    <p>{{Artist.description}}</p>

    <h2>Albums:</h2>
    {% for Album in ABLst %}
        {% if Album.artist.id == Artist.id %}
            <a href="../album/{{Album.id}}"><img src="{{Album.image.url}}" alt="{{Album.title}}" height="100px"></a>
        {% endif %}
    {% endfor %}
{% endblock %}