{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<body>
    <h1>Contact Us</h1>
	<h3>Phone Support:</h3>
	<p><b>1300 312 456 </b><br>
	Please call our support team if you have issues with albums loading or if there are issues with accessing any of our services, keep in mind these calls are automated and you will not speak to us directly.
	</p>
	<h3>Call Our Team:</h3>
	<p><b>0498233552</b><br>Please call our local team  if you would want a album/artist added to our system and or urgently needing something of our site.</p>
    <form method="post">
        {% csrf_token %}
        {{ from }}
        <button type="submit">Submit</button>
    </form>
</body>
{% endblock %}