
								{% extends 'base.html' %}
								{% load static %}
								{% block content %}	
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">album 1&nbsp;</a></h3>
												<a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Rutrum neque accumsan</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2015</time>
												<a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Odio congue mattis</a></h3>
												<time class="published" datetime="2015-10-18">October 18, 2015</time>
												<a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Enim nisl veroeros</a></h3>
												<time class="published" datetime="2015-10-17">October 17, 2015</time>
												<a href="#" class="author"><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="{% static 'images/pic07.jpg' %}" alt="" /></a>
										</article>

								</div>
							{% endblock %}

