{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>


    <h1>Title: {{Song.title}}</h1>

    <img src="{{Song.album.image.url}}" alt="Cover Art for: {{Song.album.title}}" height="180px">

    <h2>Lryics:</h2>
    <p>{{Song.lryics}}</p>

    <p><h3>Spotify:</h3><iframe src="https://open.spotify.com/embed/track/{{Song.Spotify_Embeded_Code}}" width="40%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe></p>

    <p>Album: <a href="/album/{{Song.album.id}}">{{Song.album.title}}</a></p>
    <p>Artist: <a href="/artist/{{Song.artist.id}}">{{Song.artist.title}}</a></p>

{% endblock %}